[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=SNU Board Sim
#Terminal=true
Comment=SNU Sim
Icon=/opt/Xilinx/14.7/ISE_DS/ISE/icons/coregen.ico
Exec=/usr/bin/gnome-terminal --geometry=93x47 -e "bash -c 'cd \"$(dirname "\"%k\"")\"; bash "./SNU-BoardSim/resource/sim.sh"  '"
Name[en_US]=SNU Board Simulator
